.blog {
   display: grid;
   gap: 4rem;
}

@media (min-width: 748px) {
   .blog {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 99px) {
   .blog {
      grid-template-columns: repeat(3, 1fr);
   }
}
