.footer {
   background-color: var(--black);
   padding: 5rem 0 0;
   margin-top: 5rem;
}
.contain {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

@media (min-width: 768px) {
   .contain {
      display: flex;
      justify-content: space-between;
   }
}

.navigation {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
@media (min-width: 768px) {
   .navigation {
      flex-direction: row;
      gap: 2rem;
   }
}

.navigation a {
   font-size: 2.8rem;
   color: var(--white);
   text-decoration: none;
   font-weight: 700;
}

.navigation a:hover {
   color: var(--main);
}
.copyright {
   font-size: 2.8rem;
   color: var(--white);
   font-weight: 700;
   text-align: center;
}
